/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
    padding-left: 120px;
    padding-right: 120px;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sección Menu*/

.menu{

    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

}

.menu .menu__header{

    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-top: 1.4rem;
    color: #464646;

}

.menu .menu__header img{

    width: 1.6rem;
    height: 1.6rem;

}

.menu nav ul{

    display: flex;
    align-items: center;
    gap: 2.2rem;
    padding: 0px;
    color: #464646;

}

.menu nav ul li:last-child a{

    font-weight: bold;
}


/*Sección Title*/

.title{

    padding-top: 3.2rem;

}

.title .title__div{

    display: flex;
    width: 100%;
    justify-content: space-between;

}

.title .title__div .title__profile{

    order: 1;
    width: 23rem;
    height: 23rem;

}

.title .title__container{

    display: flex;
    flex-direction: column;
    padding-top: 1.4rem;

}

.title .title__bio{

    font-size: 3.8rem;
    font-family: 'Raleway';
    margin-bottom: 0px;
    color: #464646;

}

.title .title__subsection{

    font-size: 1.7rem;
    font-family: 'Raleway';
    font-weight: lighter;
    color: #464646;

}

.title .title__network{

    display: flex;
    gap: 2rem;
    color: #464646;
    margin-left: -2.5rem;
    padding-bottom: 4.3rem;

}



/*Sección About*/

.about{

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #EAF2FD;
    margin: 0 -7.5rem;

}

.about .about__container{

    padding: 1.4rem 32rem 3.1rem 7.5rem;

}

.about .about__title{

    font-size: 2.4rem;
    font-family: 'Raleway';
    color: #464646;
}

.about .about__paragraph{

    font-size: 1.2rem;
    font-family: 'Raleway';
    font-weight: lighter;
    color: #464646;
    text-align: justify;

}

/*Sección Skills*/

.skills{

    padding-top: 0.6rem;


}

.skills .skills__title{

    text-align: center;
    font-family: 'Raleway';
    font-size: 1.7rem;
    color: #464646;

}

.skills .skills__line{

    display: flex;
    padding-top: 1.4rem;
    gap: 0.8rem;
    padding-bottom: 3.1rem;
    flex-wrap: wrap;
    justify-content: space-between;

}

.skills .skills__box{

    width: 11.2rem;
    height: 11.2rem;
    background-color: #FFFFFF;
    color: #464646;
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 0.8rem;
    

}

.skills__box{

    display: flex;
    align-items: end;
    justify-content: flex-start;

}

.skills__box ul{

    padding-left: 0.6rem;
    text-align: left;

}

.skills__img{

    margin-bottom: 0.6rem;

}



/*Sección Hobbies*/

.hobbies{

    padding-top: 1.4rem;
    padding-bottom: 0.6rem;
    
}

.hobbies .hobbies__title{

    text-align: center;
    font-family: 'Raleway';
    font-size: 1.7rem;
    color: #464646;

}

.hobbies .hobbies__line{

    display: flex;
    padding-top: 1.4rem;
    gap: 0.8rem;
    padding-bottom: 3.1rem;
    flex-wrap: wrap;
    justify-content: space-between;

}

.hobbies .hobbies__box{

    width: 11.2rem;
    height: 11.2rem;
    background-color: #FFFFFF;
    color: #464646;
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 0.8rem;
    

}

.hobbies__box{

    display: flex;
    align-items: end;
    justify-content: flex-start;

}

.hobbies__box ul{

    padding-left: 0.4rem;
    text-align: left;

}

.hobbies__img{

    margin-bottom: 0.4rem;

}



/* Experiencia Académica*/

section.academic{
    
    background-color: #EAF2FD;
    margin: 0 -7.5rem;

}

.academic .academic__title{

    padding-top: 4.3rem;
    text-align: center;
    font-family: 'Raleway';
    font-size: 1.6rem;
    color: #464646;
}

.academic .academic__courses{

    display: flex;
    flex-wrap: wrap;
    padding-bottom: 3.8rem;
    justify-content: center;
    align-items: center;
    gap: 0.9rem;

}

.academic .academic__courses__box .academic__courses__item__img img{

    display: flex;
    flex-wrap: wrap;
    padding: 4.3rem;
    background-color: #FFFFFF;


}

.academic .academic__courses__box .academic__courses__item__title h4,
.academic .academic__courses__box .academic__courses__item__subtitle p{

    margin: 0.4rem 0 0 0;

}





.academic .academic__courses__box ul{

    padding: 0;

}




/* experiencia*/

.experience{

    padding-top: 1.4rem;

}

.experience .experience__section__title{

    text-align: center;
    font-family: 'Raleway';
    font-size: 1.6rem;
    color: #464646;

}

.experience .experiencie__box{

    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin-bottom: 3.1rem;

}

.experience .experience__description{

    display: flex;
    gap: 1.2rem;

}

.experience .experiencie__box h3{

    font-family: 'Raleway';
    font-size: 1.2rem;
    color: #464646;
    font-weight: lighter;
    margin-bottom: 0.4rem;

}

.experience .experiencie__box h2{

    font-family: 'Raleway';
    font-size: 1.6rem;
    color: #464646;
    font-weight: bold;

}

.experience .experience__description button{

    padding: 1.2rem;
    font-family: 'Raleway';
    font-size: 1.2rem;

}

.experience .experience__description .experiencia__botao--repo{

    border: #2A7AE4 0.1rem solid;
    color: #2A7AE4;

}

.experience .experience__description .experience__botao--demo{

    border: #2A7AE4 0.1rem solid;
    background-color: #2A7AE4;
    color: #ffffff;

}

.experience .experiencie__box:nth-child(2n+3) img{

    order: 1;

}

.experience .experiencie__box:nth-child(5) img{

    width: 47rem;
    height: 25rem;

}

.experience .experiencie__box:nth-child(3){

    gap: 4.3rem;

}

.experience .experiencie__box:nth-child(5){

    gap: 2rem;

}





/*Contacto*/

.formcontato{

    display: flex;
    margin-top: 6.2rem;
    background-color: #EAF2FD;
    margin: 0 -7.5rem;
    justify-content: center;
    align-items: center;


}

.formcontato__contacto{

    display: flex;
    padding: 7.5rem 3.1rem 2.9rem 2rem;
    gap: 0.9rem;

}

.formcontato__form{

    display: flex;
    flex-direction: column;
    gap: 0.4rem;

}


.formcontato__input{

    border: none;
    padding: 0.4rem;
    padding-bottom: 1.4rem;
    -webkit-box-shadow: 1px 1px 0px 0px rgba(172, 172, 172, 0.44); 
    box-shadow: 1px 1px 0px 0px rgba(172, 172, 172, 0.44);
    margin-bottom: 0.9rem;


}

.formcontato__title{

    font-family: 'Raleway';
    font-size: 1.6rem;
    color: #464646;
    font-weight: bold;
    margin: 0;
    
}

.formcontato__input:focus{

    border: 0.5rem solid rgb(255, 255, 255);
    outline: none;

}

.formcontato__subtext{

    font-family: 'Raleway';
    font-size: 0.8rem;
    color: #464646;
    font-weight: lighter;

}

.formcontato__input:hover{

    border-bottom: 2px solid #2A7AE4;
}

.formcontato__textarea:focus{

    border: 0.5rem solid rgb(255, 255, 255);
    outline: none;

}

.formcontato__textarea:hover{

    border-bottom: 2px solid #2A7AE4;

}

.formcontato__textarea{

    margin-bottom: 0.9rem;

}


.formcontato__botao{

    background-color: #2A7AE4;  
    color: #ffffff;
    border: none;
    font-size: 0.8rem;
    font-family: 'Raleway';
    width: 8.1rem;
    height: 3.1rem;

}



/*footeer*/

.footer{

    padding-bottom: 1.4rem;
   
}

.footer__rodape p{

    display: flex;
    justify-content: center;
    align-items: center;

}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media screen and (max-width: 768px) {

    body{

        padding: 0px 30px 0px 30px;
    }
    
    .menu .menu__list li:not(:last-child) {
        
        display: none;

    }

    .menu nav ul{

        margin-top: 2.3rem;

    }

    .title .title__div .title__profile{

        width: 166px;
        height: 166px;

    }

    .title{

        padding-top: 2.5rem;
    }

    .title .title__bio{

        font-size: 1.4rem;
        margin-top: 0px;
    }

    .title .title__container{

        padding-top: 0.5rem;
        padding-right: 1.2rem;
    
    }

    .title .title__subsection{

        font-size: 1rem;
        visibility: hidden;
        margin-bottom: -39px;        

    }

    .title .title__subsection::before {
        font-size: 0.99rem;
        content: "Soy formada en lorem ipsum sit amet consectetur e actualmente estoy participando en el proyecto Oracle ONE en Alura Latam.";
        visibility: visible;
        color: #464646;
    }


    .title .title__network {

        padding-bottom: 3rem;

    }

    .about .about__container {
        padding: 0.1rem 7.4rem 2.1rem 7.4rem;
    }

    .about .about__title {

        font-size: 1.5rem;
        font-family: 'Raleway';
        color: #464646;
    }

    .about .about__paragraph {
        font-size: 0.89rem;
        font-family: 'Raleway';
        font-weight: lighter;
        color: #464646;
        text-align: justify;
    }

    .skills .skills__title {
        text-align: center;
        font-family: 'Raleway';
        font-size: 1.5rem;
        color: #464646;
    }

    .skills .skills__line {
        display: flex;
        padding-top: 1.4rem;
        gap: 17.2px;
        padding: 17px;
        padding-bottom: 1.1rem;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .skills .skills__box {
        width: 13.2rem;
        height: 7.2rem;
        background-color: #FFFFFF;
        color: #464646;
        font-family: 'Raleway';
        font-weight: bold;
        font-size: 0.8rem;
    }

    .hobbies .hobbies__line {
        display: flex;
        padding-top: 1.4rem;
        gap: 17.2px;
        padding: 17px;
        padding-bottom: 1.1rem;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .hobbies .hobbies__box {
        width: 13.2rem;
        height: 7.2rem;
        background-color: #FFFFFF;
        color: #464646;
        font-family: 'Raleway';
        font-weight: bold;
        font-size: 0.8rem;
    }

    .academic .academic__courses__box .academic__courses__item__img img {
        display: flex;
        flex-wrap: wrap;
        background-color: #FFFFFF;
        width: 8rem;
        padding: 20px 50px 20px 35px;
    }
    
    .experience .experiencie__box .experience__img {
        
        width: 705px;
        height: 400px;   

    }

    .experience .experiencie__box{

        display: block;

    }

    .experience .experiencie__box:nth-child(5) img {
        width: 44rem;
        height: 25rem;
    }

    .formcontato__contacto{

        display: block;
        padding: 20px 20px 20px 120px;
    
    }

    .formcontato {
        display: flex;
        margin-top: 6.2rem;
        background-color: #EAF2FD;
        margin: 0 -7.5rem;
        justify-content: left;
        align-items: center;
    }

    .formcontato--esquerda{

        display: none;
    }

}


/*Mobile*/
@media screen and (max-width: 425px) {



}